@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #B9D9EB;
    --secondary-color: #81613C;
    --accent1-color: #536878;
    --accent2-color: #A3C1AD;
    
    --heading-font: 'poppins', san-serif;
    --paragraph-font: 'poppins', san-serif;

    --nav-background-color: #38324f;
    --nav-link-color: #b8b5d1;
    --nav-hover-link-color: #50a6d8;
    --nav-hover-background-color: #435868;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    padding: 20px;
}

p {
    padding: 25px;
}

nav a {
    text-decoration: none;
}

.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 40px;
    display: block;
    width: 100%;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 75px;
    line-height: 75px;
}

.sociallinks img {
    width: 35px;
    height: auto;
}

.hero article {
    position: absolute;
    display: block;
    width: 80%;
    background-color: rgba(83, 104, 180, 0.7);
    height: 150px;
    color: white;
    top: 200px;
    left: 10%;
}

.hero p {
    padding-top: 0;
    padding-left: 15px;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
    position: relative;
    top: 8px;
    right: 8px;
}